pipeline/TestGetMetadata.json
{
	"name": "TestGetMetadata",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "SourceDatasetBlob",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified",
						"size"
					]
				}
			},
			{
				"name": "Test Last Modified",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@less(activity('Get Metadata1').output.lastModified, adddays(utcnow(),-2))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Call VelSit to Blob",
							"type": "ExecutePipeline",
							"typeProperties": {
								"pipeline": {
									"referenceName": "BlackList_to_BlobTest",
									"type": "PipelineReference"
								}
							}
						}
					]
				}
			}
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}